.card {
  --grain: url("/img/grain.webp");
  --glitter: url("/img/glitter.png");
  --glittersize: 25%;

  --space: 5%;
  --angle: 133deg;
  --imgsize: cover;

  --red: #f80e35;
  --yellow: #eedf10;
  --green: #21e985;
  --blue: #0dbde9;
  --violet: #c929f1;

  --clip: inset(0% 0% 0% 0%);
  --clip-invert: inset(0% 0% 0% 0%);

  --clip-stage: inset(0% 0% 0% 0%);
  --clip-stage-invert: inset(0% 0% 0% 0%);

  --clip-trainer: inset(0% 0% 0% 0%);
  --clip-borders: inset(2.8% 4% round 2.55% / 1.5%);
}

.card__shine,
.card__glare {
  will-change: transform, opacity, background-image, background-size,
    background-position, background-blend-mode, filter;
}
